fastapi==0.115.6
uvicorn==0.32.1
psycopg2-binary==2.9.10
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic[email]==2.10.3
python-multipart==0.0.20
email-validator==2.2.0
passlib==1.7.4
bcrypt==4.2.1
python-jose==3.3.0
cryptography==44.0.0
